img{
    flex-grow: 1;
    height: auto;
}

h1{
    color: green;
}

*{
    box-sizing: border-box;
}

nav{
    background-color: blue;
    box-sizing: border-box;
}
nav a {
    justify-content: space-between;
    padding: 10px, 20px;
    color: white;
}

.riche {
    display: flex;
    flex-wrap: nowrap;
}